[submodule "no_01-submodules/no_01-sub-00"]
	path = no_01-submodules/no_01-sub-00
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-01"]
	path = no_01-submodules/no_01-sub-01
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-02"]
	path = no_01-submodules/no_01-sub-02
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-03"]
	path = no_01-submodules/no_01-sub-03
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-04"]
	path = no_01-submodules/no_01-sub-04
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-05"]
	path = no_01-submodules/no_01-sub-05
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-06"]
	path = no_01-submodules/no_01-sub-06
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-07"]
	path = no_01-submodules/no_01-sub-07
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-08"]
	path = no_01-submodules/no_01-sub-08
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-09"]
	path = no_01-submodules/no_01-sub-09
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-10"]
	path = no_01-submodules/no_01-sub-10
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-11"]
	path = no_01-submodules/no_01-sub-11
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-12"]
	path = no_01-submodules/no_01-sub-12
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-13"]
	path = no_01-submodules/no_01-sub-13
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-14"]
	path = no_01-submodules/no_01-sub-14
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-15"]
	path = no_01-submodules/no_01-sub-15
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-16"]
	path = no_01-submodules/no_01-sub-16
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-17"]
	path = no_01-submodules/no_01-sub-17
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-18"]
	path = no_01-submodules/no_01-sub-18
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-19"]
	path = no_01-submodules/no_01-sub-19
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-20"]
	path = no_01-submodules/no_01-sub-20
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-21"]
	path = no_01-submodules/no_01-sub-21
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-22"]
	path = no_01-submodules/no_01-sub-22
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-23"]
	path = no_01-submodules/no_01-sub-23
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-24"]
	path = no_01-submodules/no_01-sub-24
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-25"]
	path = no_01-submodules/no_01-sub-25
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-26"]
	path = no_01-submodules/no_01-sub-26
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-27"]
	path = no_01-submodules/no_01-sub-27
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-28"]
	path = no_01-submodules/no_01-sub-28
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-29"]
	path = no_01-submodules/no_01-sub-29
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
