[submodule "no_01-submodules/no_01-sub-00"]
	path = no_01-submodules/no_01-sub-00
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-01"]
	path = no_01-submodules/no_01-sub-01
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-02"]
	path = no_01-submodules/no_01-sub-02
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-03"]
	path = no_01-submodules/no_01-sub-03
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-04"]
	path = no_01-submodules/no_01-sub-04
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-05"]
	path = no_01-submodules/no_01-sub-05
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-06"]
	path = no_01-submodules/no_01-sub-06
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-07"]
	path = no_01-submodules/no_01-sub-07
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-08"]
	path = no_01-submodules/no_01-sub-08
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-09"]
	path = no_01-submodules/no_01-sub-09
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-10"]
	path = no_01-submodules/no_01-sub-10
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-11"]
	path = no_01-submodules/no_01-sub-11
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-12"]
	path = no_01-submodules/no_01-sub-12
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-13"]
	path = no_01-submodules/no_01-sub-13
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-14"]
	path = no_01-submodules/no_01-sub-14
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-15"]
	path = no_01-submodules/no_01-sub-15
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-16"]
	path = no_01-submodules/no_01-sub-16
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-17"]
	path = no_01-submodules/no_01-sub-17
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-18"]
	path = no_01-submodules/no_01-sub-18
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-19"]
	path = no_01-submodules/no_01-sub-19
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-20"]
	path = no_01-submodules/no_01-sub-20
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-21"]
	path = no_01-submodules/no_01-sub-21
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-22"]
	path = no_01-submodules/no_01-sub-22
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-23"]
	path = no_01-submodules/no_01-sub-23
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-24"]
	path = no_01-submodules/no_01-sub-24
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-25"]
	path = no_01-submodules/no_01-sub-25
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-26"]
	path = no_01-submodules/no_01-sub-26
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-27"]
	path = no_01-submodules/no_01-sub-27
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-28"]
	path = no_01-submodules/no_01-sub-28
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-29"]
	path = no_01-submodules/no_01-sub-29
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-30"]
	path = no_01-submodules/no_01-sub-30
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-31"]
	path = no_01-submodules/no_01-sub-31
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-32"]
	path = no_01-submodules/no_01-sub-32
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-33"]
	path = no_01-submodules/no_01-sub-33
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-34"]
	path = no_01-submodules/no_01-sub-34
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-35"]
	path = no_01-submodules/no_01-sub-35
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-36"]
	path = no_01-submodules/no_01-sub-36
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-37"]
	path = no_01-submodules/no_01-sub-37
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-38"]
	path = no_01-submodules/no_01-sub-38
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-39"]
	path = no_01-submodules/no_01-sub-39
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-40"]
	path = no_01-submodules/no_01-sub-40
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-41"]
	path = no_01-submodules/no_01-sub-41
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-42"]
	path = no_01-submodules/no_01-sub-42
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-43"]
	path = no_01-submodules/no_01-sub-43
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-44"]
	path = no_01-submodules/no_01-sub-44
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-45"]
	path = no_01-submodules/no_01-sub-45
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-46"]
	path = no_01-submodules/no_01-sub-46
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-47"]
	path = no_01-submodules/no_01-sub-47
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-48"]
	path = no_01-submodules/no_01-sub-48
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-49"]
	path = no_01-submodules/no_01-sub-49
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-50"]
	path = no_01-submodules/no_01-sub-50
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-51"]
	path = no_01-submodules/no_01-sub-51
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-52"]
	path = no_01-submodules/no_01-sub-52
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-53"]
	path = no_01-submodules/no_01-sub-53
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-54"]
	path = no_01-submodules/no_01-sub-54
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-55"]
	path = no_01-submodules/no_01-sub-55
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-56"]
	path = no_01-submodules/no_01-sub-56
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-57"]
	path = no_01-submodules/no_01-sub-57
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-58"]
	path = no_01-submodules/no_01-sub-58
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-59"]
	path = no_01-submodules/no_01-sub-59
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-60"]
	path = no_01-submodules/no_01-sub-60
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-61"]
	path = no_01-submodules/no_01-sub-61
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-62"]
	path = no_01-submodules/no_01-sub-62
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-63"]
	path = no_01-submodules/no_01-sub-63
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-64"]
	path = no_01-submodules/no_01-sub-64
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-65"]
	path = no_01-submodules/no_01-sub-65
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-66"]
	path = no_01-submodules/no_01-sub-66
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-67"]
	path = no_01-submodules/no_01-sub-67
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-68"]
	path = no_01-submodules/no_01-sub-68
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-69"]
	path = no_01-submodules/no_01-sub-69
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-70"]
	path = no_01-submodules/no_01-sub-70
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-71"]
	path = no_01-submodules/no_01-sub-71
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-72"]
	path = no_01-submodules/no_01-sub-72
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-73"]
	path = no_01-submodules/no_01-sub-73
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-74"]
	path = no_01-submodules/no_01-sub-74
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-75"]
	path = no_01-submodules/no_01-sub-75
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-76"]
	path = no_01-submodules/no_01-sub-76
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-77"]
	path = no_01-submodules/no_01-sub-77
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-78"]
	path = no_01-submodules/no_01-sub-78
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-79"]
	path = no_01-submodules/no_01-sub-79
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-80"]
	path = no_01-submodules/no_01-sub-80
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-81"]
	path = no_01-submodules/no_01-sub-81
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-82"]
	path = no_01-submodules/no_01-sub-82
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-83"]
	path = no_01-submodules/no_01-sub-83
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-84"]
	path = no_01-submodules/no_01-sub-84
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-85"]
	path = no_01-submodules/no_01-sub-85
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-86"]
	path = no_01-submodules/no_01-sub-86
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-87"]
	path = no_01-submodules/no_01-sub-87
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-88"]
	path = no_01-submodules/no_01-sub-88
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-89"]
	path = no_01-submodules/no_01-sub-89
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-90"]
	path = no_01-submodules/no_01-sub-90
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-91"]
	path = no_01-submodules/no_01-sub-91
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-92"]
	path = no_01-submodules/no_01-sub-92
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-93"]
	path = no_01-submodules/no_01-sub-93
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-94"]
	path = no_01-submodules/no_01-sub-94
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-95"]
	path = no_01-submodules/no_01-sub-95
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-96"]
	path = no_01-submodules/no_01-sub-96
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-97"]
	path = no_01-submodules/no_01-sub-97
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-98"]
	path = no_01-submodules/no_01-sub-98
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
[submodule "no_01-submodules/no_01-sub-99"]
	path = no_01-submodules/no_01-sub-99
	url = https://github.com/ilyyeees/no_01-actions-policy-09290130.git
